.campaign-action-d0acd04019034ec7b98a097a41c852b5 {
	background-image: url("/~/media/BtB bg.ashx"); background-color: rgb(53, 26, 81);
}
@media only screen and (min-width:1024px)
{
.campaign-action-d0acd04019034ec7b98a097a41c852b5-banner {
	background-image: url("/~/media/Campaigns/Signup/images/takeover-signup.ashx");
}
}
.campaign-action-42625682d77e4ce6a369bab23f8ce385 {
	background-image: url("/~/media/climatebg.ashx"); background-color: rgb(75, 37, 114);
}
@media only screen and (min-width:1024px)
{
.campaign-action-42625682d77e4ce6a369bab23f8ce385-banner {
	background-image: url("/~/media/Campaigns/Signup/images/takeover-signup.ashx");
}
}
.campaign-action-83e91b76c9614e7aaf2ae2e09b0c856e {
	background-image: url("/~/media/Campaigns/The Truth About Women And Chocolate/Images/choc-takeover-bg_v2.ashx"); background-color: rgb(53, 26, 81);
}
@media only screen and (min-width:1024px)
{
.campaign-action-83e91b76c9614e7aaf2ae2e09b0c856e-banner {
	background-image: url("/~/media/Campaigns/The Truth About Women And Chocolate/Images/takeover_v2.ashx");
}
}
.campaign-action-0765efe9dc3748089b1a4f6c50e98d38 {
	background-image: url("/~/media/Campaigns/Stop land grabs/sugar-takeover-bg-cokewin.ashx"); background-color: rgb(53, 26, 81);
}
@media only screen and (min-width:1024px)
{
.campaign-action-0765efe9dc3748089b1a4f6c50e98d38-banner {
	background-image: url("/~/media/Campaigns/Stop land grabs/takeover-copy-sugar-cokewin.ashx");
}
}
